.deleteBox {
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: violet;
  top: 5px;
  right: 5px;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;       
}
