.side-bar-container {
  font: normal 1.2em Arial, Helvetica, sans-serif;
  height: 100%;
  width: 220px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.side-bar-container h1 {
  color: #991f00;
  text-shadow: 1px 1px #ff0000;
}